.navbar {
  @apply text-white;
}

.navbarBtn {
  @apply inline-flex items-center justify-center p-2
    text-gray-400 hover:text-white hover:bg-gray-700
    focus:outline-none;
}

.wrapper {
  @apply flex-1 flex items-center justify-end sm:items-stretch
  sm:justify-start;
}

.imageIcon {
  @apply bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2
  focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
}

.imageDropdown {
  @apply origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1
    bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.logo {
  font-family: 'Pacifico', cursive;
  @apply font-bold text-2xl text-slate-300;
}
